---
interface Props {
    id?: string;
    onClick?: string;
}

const { id, onClick } = Astro.props;
---
<button id={id} class="cursor-pointer" data-onclick={onClick}>
    <canvas class="hamburguer-canvas" width="92" height="72" style="width: 46px; height: 36px; display: none;"></canvas>
    <svg class="hamburguer-svg" width="46" height="36" viewBox="0 0 46 36" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g filter="url(#filter0_g_971_85)">
            <path d="M39.021 26.9824C39.8117 26.9827 40.572 27.2358 41.1442 27.6893C41.7165 28.1428 42.0569 28.7618 42.0949 29.4182C42.1329 30.0746 41.8656 30.7179 41.3484 31.215C40.8311 31.712 40.1036 32.0246 39.3166 32.0881L39.021 32.1H6.17892C5.38822 32.0997 4.62797 31.8465 4.05571 31.3931C3.48345 30.9396 3.14306 30.3205 3.10506 29.6641C3.06706 29.0078 3.33437 28.3644 3.8516 27.8674C4.36883 27.3703 5.09633 27.0577 5.88334 26.9943L6.17892 26.9824H39.021ZM39.021 15.0412C39.8376 15.0412 40.6208 15.3108 41.1982 15.7906C41.7756 16.2705 42.1 16.9214 42.1 17.6C42.1 18.2786 41.7756 18.9295 41.1982 19.4094C40.6208 19.8892 39.8376 20.1588 39.021 20.1588H6.17892C5.36234 20.1588 4.57919 19.8892 4.00178 19.4094C3.42436 18.9295 3.09998 18.2786 3.09998 17.6C3.09998 16.9214 3.42436 16.2705 4.00178 15.7906C4.57919 15.3108 5.36234 15.0412 6.17892 15.0412H39.021ZM39.021 3.1C39.8376 3.1 40.6208 3.36959 41.1982 3.84946C41.7756 4.32933 42.1 4.98018 42.1 5.65882C42.1 6.33746 41.7756 6.98831 41.1982 7.46818C40.6208 7.94806 39.8376 8.21765 39.021 8.21765H6.17892C5.36234 8.21765 4.57919 7.94806 4.00178 7.46818C3.42436 6.98831 3.09998 6.33746 3.09998 5.65882C3.09998 4.98018 3.42436 4.32933 4.00178 3.84946C4.57919 3.36959 5.36234 3.1 6.17892 3.1H39.021Z" fill="#4242A5"/>
        </g>
        <defs>
            <filter id="filter0_g_971_85" x="-2.43187e-05" y="-1.43051e-06" width="45.2" height="35.2" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                <feTurbulence type="fractalNoise" baseFrequency="0.99900001287460327 0.99900001287460327" numOctaves="3" seed="9590" />
                <feDisplacementMap in="shape" scale="6.1999998092651367" xChannelSelector="R" yChannelSelector="G" result="displacedImage" width="100%" height="100%" />
                <feMerge result="effect1_texture_971_85">
                    <feMergeNode in="displacedImage"/>
                </feMerge>
            </filter>
        </defs>
    </svg>
</button>

<script>
    // Rasterize the SVG to a canvas once so feTurbulence doesn't shift on zoom
    document.addEventListener("DOMContentLoaded", () => {
        document.querySelectorAll(".hamburguer-svg").forEach((svg) => {
            const svgElement = svg as HTMLElement;
            const canvas = svg.previousElementSibling as HTMLCanvasElement;
            if (!canvas || canvas.tagName !== "CANVAS") return;

            const svgData = new XMLSerializer().serializeToString(svg);
            const blob = new Blob([svgData], { type: "image/svg+xml;charset=utf-8" });
            const url = URL.createObjectURL(blob);
            const img = new Image();
            img.onload = () => {
                const ctx = canvas.getContext("2d");
                if (ctx) {
                    ctx.drawImage(img, 0, 0, 92, 72);
                    canvas.style.display = "block";
                    svgElement.style.display = "none";
                }
                URL.revokeObjectURL(url);
            };
            img.src = url;
        });
    });
</script>