---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Página não encontrada :(" description="Página não encontrada.">
    <main>
        <h1 class="font-mono">
            Page not found :(
        </h1>
    </main>
</BaseLayout>