---
import BaseLayout from '../layouts/BaseLayout.astro';
import AnnouncementBar from '../components/announcement-bar/AnnouncementBar.astro';
import Topbar from '../components/topbar/Topbar.astro';
import Hero from '../sections/hero/Hero.astro';
import Modalities from '../sections/modalities/Modalities.astro';

const displayAnnouncementBar = true;
---


<style>
	:global(body) {
		position: relative;
		overflow-x: hidden;
	}

	:global(body)::before {
		content: "";
		position: fixed;
		inset: 0;
		/* bolinhas */
		background-image: radial-gradient(rgba(0,0,0,0.1) 1px, transparent 1px);
		background-size: 12px 12px;
		z-index: 1;
		pointer-events: none;
	}
	
	/* Make Layout background transparent so pattern shows */
	:global(body) {
		background-color: transparent !important;
	}
</style>

<BaseLayout title='HOME - Rise Idiomas' description='Plataforma de ensino de idiomas com cursos e modalidades diversas'>
	<div class="w-full min-h-screen">
		{displayAnnouncementBar && <AnnouncementBar text="🎓Turmas abertas para 2026! Não perca a oportunidade de estudar conosco📚" link="#" />}
		<Topbar />
		<Hero />
		<Modalities />
	</div>
</BaseLayout>

