<div
  class="announcement-bar w-full bg-[#E6FF2C] py-2 md:p-4 flex items-center justify-center lg:text-xl"
  role="region"
  aria-label="Aviso importante"
>
<p class="text-base font-bold lg:text-xl text-center">🎓Turmas abertas para 2026! Não perca a oportunidade de estudar conosco📚</p>
</div>
