---
import "@fontsource/geist-mono"
---

<style>
  #viewport-fallback {
    font-family: "Geist Mono";
    display: none;
    position: fixed;
    inset: 0;
    z-index: 99999;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
    text-align: center;
    padding: 2rem;
  }

  #viewport-fallback h1 {
    font-size: 4.75rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #1a1a1a;
  }

  #viewport-fallback p {
    font-size: 1.3rem;
    color: #555555b4;
    max-width: 28rem;
  }

  @media (max-width: 355px), (min-width: 2000px) {
    #viewport-fallback {
      display: flex;
    }
  }
</style>

<div id="viewport-fallback">
  <h1>Oops!</h1>
  <p>
    Este site não é compatível com o tamanho da sua tela. Por favor, tente
    acessar em um dispositivo com uma resolução diferente.
  </p>
</div>
