---
const { title = "RISE Idiomas", description = "Aprenda inglês de forma estratégica." } = Astro.props;
import "@fontsource/fjalla-one"; // Regular weight
import "../styles/global.css";
---

<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body class="bg-red-600 font-sans">
    <slot />
  </body>
</html>
