---
import { Image } from "astro:assets"
import CentroPreparatorioBgText from "../../assets/icons/centropreparatorio-type-gradient.svg"
import LocationIcon from "../../assets/icons/location-icon.svg"
import Tv from "../../assets/icons/location-tv-element.png"
---

<section id="location" class="z-1 text-center">
    <span aria-hidden="true" class="absolute overflow-hidden w-[230%] max-[322px]:translate-y-60 translate-y-90 md:translate-y-100 h-auto m-auto -left-40 md:-left-80 -z-10 lg:w-[140%] lg:-left-80">
        <img src={CentroPreparatorioBgText.src} class="w-full h-auto select-none blur-[1.5px] md:blur-[2.5px] py-10 lg:blur-[4px] xl:blur-[6px]">
    </span>

    <a href="https://maps.app.goo.gl/DaCs2AutkFjybFeV7" target="_blank" rel="noopener noreferrer" class="w-full flex justify-center relative max-[322px]:pb-30 pb-50 lg:pb-30">
        <img src={Tv.src} alt="location tv" class="w-[85%] md:w-[60%] max-w-xl transition duration-1200 ease-in-out  hover:scale-110 cursor-pointer "/>
    </a>
    
    <span class="w-full flex justify-center">
        <img src={LocationIcon.src} alt="location icon" class="lg:w-[6%] xl:w-[3%]"/>
    </span>

    <div class="text-center my-2">
        <p class="font-bold opacity-60 md:text-xl lg:text-3xl">Vila Carrão, São Paulo - SP</p>
        <p class="text-xs opacity-50 md:text-[0.90rem] lg:text-2xl">Segunda à Sexta: 08:00 - 21:00 | Sábado: 8:00 - 13:00</p>
    </div>

    <button type="button"
       onclick="window.open('//maps.app.goo.gl/DaCs2AutkFjybFeV7', '_blank', 'noopener')"
       class="inline-flex mt-2 items-center justify-center
              min-w-28.5 lg:min-w-38.5 h-12.75 px-8
              rounded-[40px] bg-white/18
              shadow-[0_0_16.1px_-4px_#4242a5]
              text-[#4242a5] font-['Poppins',sans-serif] font-bold text-sm
              no-underline whitespace-nowrap leading-none cursor-pointer
              transition-[background-color,box-shadow,transform] duration-900 ease-in-out
              hover:bg-white/32 hover:-translate-y-0.5
              hover:shadow-[0_0_24px_-2px_#4242a5]
              focus-visible:outline-2 focus-visible:outline-[#4242a5]
              focus-visible:outline-offset-3 focus-visible:shadow-[0_0_24px_-2px_#4242a5]
              motion-reduce:transition-none">
        Direções
    </button>
</section>
